---
layout: default
---

<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered is-multiline">
        <div class="column is-6 stack-order-2">
          <p>
          <h1 class="title is-2">
          {{ page.hero_title }}
          </h1>
          </p>
          <p class="subtitle is-5">
          {{ page.hero_body }}
          </p>
          <div class="field has-addons">
            <div class="control">
              <input class="input is-large is-rounded" type="email" placeholder="Your email address">
            </div>
            <div class="control">
              <a class="button is-warning is-large is-rounded">
                Sign up
              </a>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <figure class="image is-square">
            <img class="rounded" src="assets/01.jpg" alt="Mazeables welcome image of maze"/>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>


