---
layout: default
---

<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered is-multiline">
        <div class="column is-6 stack-order-2">
          <p>
          <h1 class="title is-2">
          {{ page.hero_title }}
          </h1>
          </p>
          <p class="subtitle is-5">
          {{ page.hero_body }}
          </p>
              <script async data-uid="570d42ac75" src="https://mazeables.ck.page/570d42ac75/index.js"></script>
        </div>
        <div class="column is-6">
          <figure class="image is-square">
            <img class="rounded" src="assets/my-work-desk.png" alt="Mazeables welcome image of maze"/>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>


